<section class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <?php foreach($banner as $item){?>
                <div class="swiper-slide">
                    <img src="<?php echo $conf->confs['root'].$item['ban_url']; ?>" alt="">
                </div>
            <?php }?>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<script src="<?php echo $conf->confs['js_dir']; ?>vendor.js"></script>

<script src="<?php echo $conf->confs['js_dir']; ?>plugins.js"></script>

<script src="<?php echo $conf->confs['js_dir']; ?>public.js"></script>