<link rel="stylesheet" href="<?php echo $conf->confs['css_dir']; ?>index.css">

    <section class="service">
      <div class="container titled">
        <h1>我们主打的顶级服务</h1>
        <h3>OUR SERVICE</h3>
        <div class="row">
          <?php foreach($serv_type as $key => $item){
          if($key !=0 && $key % 3 == 0){echo '<div class="clearfix"></div>';}
          ?>
          <div class="col-xs-12 col-sm-4">
            <figure>
              <div class="s-icon">
                <img src="<?php echo $conf->confs['root'].$item['serv_type_thumb']; ?>" alt="">
              </div>
              <figcaption>
                <h3><?php echo $item['serv_type_name']; ?></h3>
                <p><?php echo $item['serv_type_desc']; ?></p>
              </figcaption>
            </figure>
          </div>
          <?php }?>
        </div>
      </div>
    </section>
    <section class="cases">
      <div class="container titled">
        <h1>我们历年的心血大作</h1>
        <h3>OUR CASES</h3>
        <div class="row">
          <?php foreach($cases as $item){ ?>
          <div class="col-xs-12 col-sm-4 content">
            <img src="<?php echo $conf->confs['img_dir'].$item['case_img2']; ?>" alt="">
            <a href="show_info.php?case_id=<?php echo $item['case_id'];?>">
              <div class="mask">
                <h2>VERSIA-LUX</h2>
                <p>网页（web）</p>
              </div>
            </a>

          </div>
          <?php } ?>
          <!-- <div class="col-xs-12 col-sm-4 content">
            <img src="<?php echo $conf->confs['img_dir']; ?>/index/cases-02.png" alt="">
            <a href="">
              <div class="mask">
                <h2>VERSIA-LUX</h2>
                <p>网页（web）</p>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4 content">
            <img src="<?php echo $conf->confs['img_dir']; ?>/index/cases-03.png" alt="">
            <a href="">
              <div class="mask">
                <h2>VERSIA-LUX</h2>
                <p>网页（web）</p>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4 content">
            <img src="<?php echo $conf->confs['img_dir']; ?>/index/cases-04.png" alt="">
            <a href="">
              <div class="mask">
                <h2>VERSIA-LUX</h2>
                <p>网页（web）</p>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4 content">
            <img src="<?php echo $conf->confs['img_dir']; ?>/index/cases-05.png" alt="">
            <a href="">
              <div class="mask">
                <h2>VERSIA-LUX</h2>
                <p>网页（web）</p>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4 content">
            <img src="<?php echo $conf->confs['img_dir']; ?>/index/cases-06.png" alt="">
            <a href="">
              <div class="mask">
                <h2>VERSIA-LUX</h2>
                <p>网页（web）</p>
              </div>
            </a>
          </div> -->
        </div>
        <a href="cases.php"><span>LEARN MORE</span></a>
      </div>
    </section>
    <section class="history">
      <div class="container titled">
        <h1>我们的发展历程</h1>
        <h3>OUR DEVELOPMENT HISTORY</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-4 content">
            <div class="img">
              <img src="<?php echo $conf->confs['img_dir']; ?>/index/history-01.png" alt="">
            </div>
            <h2>牛牛豆公司于2015年3月15号成立</h2>
            <p>在整个经济大环境不好的情况下，但是我们牛牛豆人依然逆境而上，新公司于2015年......
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 content">
            <div class="img">
              <img src="<?php echo $conf->confs['img_dir']; ?>/index/history-02.png" alt="">
            </div>
            <h2>展望2016，牛牛豆继续创造辉煌</h2>
            <p>在整个经济大环境不好的情况下，但是我们牛牛豆人依然逆境而上，新公司于2016年......
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 content">
            <div class="img">
              <img src="<?php echo $conf->confs['img_dir']; ?>/index/history-03.png" alt="">
            </div>
            <h2>展望2016，牛牛豆继续创造辉煌</h2>
            <p>在整个经济大环境不好的情况下，但是我们牛牛豆人依然逆境而上，新公司于2016年......
            </p>
          </div>
        </div>
        <a href=""><span>LEARN MORE</span></a>
      </div>
    </section>