
    <section class="banner">
       <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../static/images/public/banner2.jpg">
          </div>
      </div>       
    </section>
	<section class="info">
		<div class="container">
			<div class="row">
				<div class="location col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1">
					<p>当前位置：<span>咨询中心</span></p>
				</div>
			</div>
			<div class="row">
				<div class="description col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
					<h1>总结2015，展望2016，文豆继续创造辉煌2015年会回顾</h1>
					<h2>发布时间：2016-02-18</h2>
					<p>
						回顾2015年，在整个经济大环境不好的情况下，但是我们文豆人创造了很多优异的成绩，这是所有文豆人一起努力的结果。2016年，我们一定会继续创造辉煌，为更多的人提供专业的IT服务。
						文豆是一家IT服务型公司，也是为梦想助力的一个平台,我们服务于社会，让更多的有志青年可以有一门技术并以此作为人生的一个起点，我们服务于企业，为更多的企业更好的实现他们的梦想，创造出更多的价值，我们服务于我们文豆人，为更多文豆人实现自己的梦想。
					</p>
					<p>
						回顾2015年，在整个经济大环境不好的情况下，但是我们文豆人创造了很多优异的成绩，这是所有文豆人一起努力的结果。2016年，我们一定会继续创造辉煌，为更多的人提供专业的IT服务。
						文豆是一家IT服务型公司，也是为梦想助力的一个平台,我们服务于社会，让更多的有志青年可以有一门技术并以此作为人生的一个起点，我们服务于企业，为更多的企业更好的实现他们的梦想，创造出更多的价值，我们服务于我们文豆人，为更多文豆人实现自己的梦想。
					</p>
					<a href="index.html"><span>返回首页</span></a>
					<ul class="link">
						<li><a href="">上一篇</a></li>
						<li><a href="">下一篇</a></li>
					</ul>
				</div>
			</div>

		</div>
	</section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4 footer-left">
            <img src="../static/images/public/footer-left.png" alt="">
          </div>
          <div class="col-xs-12 col-md-8">
            <ul class="footer-nav">
              <li><a href="">解决方案</a></li>
              <li><a href="">资讯中心</a></li>
              <li><a href="">案例展示</a></li>
              <li><a href="">了解牛豆豆</a></li>
            </ul>
            <div class="footer-contacts">
              <p><img src="../static/images/public/footer-locate.png" alt="">广州市海珠区广州大道南448号财智大厦28楼</p>
              <p><img src="../static/images/public/footer-copy.png" alt="">广州牛牛豆网络科技有限公司版权所有  <span class="copyright">Copyright 2009-2015, All Rights Reserved Wengdo</span></p>
              <p class="info">粤ICP备12022584号-3<span>法律顾问：广东晟晨律师事务所-张勇律师</span></p>
            </div>
          </div>
        </div>

      </div>

    </footer>

    <script src="../static/scripts/vendor.js"></script>
    
    <script src="../static/scripts/plugins.js"></script>
    
    <script src="../static/scripts/public.js"></script>
  </body>
</html>
