<link rel="stylesheet" href="<?php echo $conf->confs['css_dir']; ?>solute.css">

<section class="solute-banner">
    <div class="container">
        <h1>互联网解决方案领导者</h1>
        <h5>一路致力于为客户提供优质解决方案，高端网站开发，APP开发电子商务解决方案等，打造优质经典方案。</h5>
        <img src="<?php echo $conf->confs['img_dir'];?>/solute/banner.png" alt="">
    </div>
</section>

<section class="link">
    <div class="container">
        <ul>
            <li><a href="">移动端应用开发</a></li>
            <li><a href="">高品质网站</a></li>
            <li><a href="">电子商务平台</a></li>
            <li><a href="">微信应用</a></li>
            <li><a href="">IT人才服务</a></li>
            <li><a href="">企业信息化</a></li>
        </ul>
    </div>
</section>

<section class="intro">
    
    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo $conf->confs['img_dir'];?>/solute/intro01.png" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>APP、互动营销小游戏</h3>
                        <h4>Android IOS HTML5</h4>
                        <p>我们为各个行业提供：<br>
                            移动端应用开发解决方案；互动营销小游戏解决方案；<br>
                            基于微信的应用解决；微信小程序解决方案</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>网站建设公司</h3>
                        <h4>互动、营销</h4>
                        <p>文豆作为专业的广州网站建设公司，集团队智慧为您提供专业企业门户
                            解决方案，从网站设计，技术结构，多方面为您考虑，助您塑造品牌，
                            决胜未来并提供顾问、设计、建设、运营以及推广等一站式企业服务解
                            决方案。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo $conf->confs['img_dir'];?>/solute/intro02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo $conf->confs['img_dir'];?>/solute/intro03.png" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>电子商务</h3>
                        <h4>B2B , B2C , SEO</h4>
                        <p>基于多年网络营销和自身在电子商务运营的基础上形成的解决方案。电子商务（E-COMMERCE）：从广义来说，是指以电子设备为媒介进行的商务活动；从狭义来说，是指以计算机网络为基础所进行的各种商务活动，包括商品和服务的提供者、广告商、消费者、中介商等有关各方行为的总和。根据交易对象的不同，电子商务可以被划分为三种典型模式：B2B（Business to Business，企业对企业），B2C（Business to Customer，企业对消费者）和C2C（Customer to Customer，消费者对消费者）模式。根据艾瑞咨询公司的统计，2007年中国中小企业总数超过3453万家，2007年中国的B2B贸易总额达到24.5亿元。与此同时，中国的网络购物（包括B2C和C2C）市场07年取得了爆发式增长，根据艾瑞咨询统计显示，网络购物交易规模破千亿，增速接近130%；同时网购用户规模达8000万。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>解决方案</h3>
                        <h4>小程序、微应用、微商城、微网站</h4>
                        <p>文豆有着微信应用开发的经验，也通过开发不同的互动功能，积累了众
                            多互动社区的开发经验，互动社区是基于社会网络关系系统思想的网站，
                            这类型的网站以人为本。现在许多互动类型的营销推广方式都会采用微
                            信应用互动来推广；我们也提供微商城、微官网等微信上的应用解决方
                            案，为用户提升盈利，也提升用户的线上线下互动。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo $conf->confs['img_dir'];?>/solute/intro04.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo $conf->confs['img_dir'];?>/solute/intro05.png" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>WEB前端技术人员</h3>
                        <h4>WEB SEO</h4>
                        <p>文豆有着多年在PHP网站开发经验、Web前端开发经验以及设计经验，
                            同时我们也把这些经验传授给想往互联网发展的人士；我们也为各个企
                            业提供PHP、UI设计、Web前端的人才；我们也为各企业提供技术团队
                            组建及外包等相关业务</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>B/S系统</h3>
                        <h4>WEB SEO</h4>
                        <p>文豆采用B/S方式，提供OA系统系统、ERP、CRM等常见的B/S管理系
                            统的解决方案，同时也根据用户需求量身定制各类管理系统的解决方案。
                            B/S结构的系统有着异地浏览和信息采集的灵活性的特点。任何时间、
                            任何地点、任何系统，只要可以浏览上网，就可以使用B/S系统的终端。
                            目前，国外大型企业管理软件要么已经是B/S结构的，要么正在经历从
                            C/S到B/S结构的转变。从国内诸多软件厂商积极投入开发B/S结构软件
                            的趋势来看，B/S结构的大型管理软件可能在将来的几年内占据管理软
                            件领域的主导地位。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo $conf->confs['img_dir'];?>/solute/intro06.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 footer-left">
                <img src="<?php echo $conf->confs['img_dir'];?>/public/footer-left.png" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <ul class="footer-nav">
                    <li><a href="">解决方案</a></li>
                    <li><a href="">资讯中心</a></li>
                    <li><a href="">案例展示</a></li>
                    <li><a href="">了解牛豆豆</a></li>
                </ul>
                <div class="footer-contacts">
                    <p><img src="<?php echo $conf->confs['img_dir'];?>/public/footer-locate.png" alt="">广州市海珠区广州大道南448号财智大厦28楼</p>
                    <p><img src="<?php echo $conf->confs['img_dir'];?>/public/footer-copy.png" alt="">广州牛牛豆网络科技有限公司版权所有  <span class="copyright">Copyright 2009-2015, All Rights Reserved Wengdo</span></p>
                    <p class="info">粤ICP备12022584号-3<span>法律顾问：广东晟晨律师事务所-张勇律师</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script  src="<?php echo J_DIR;?>/vendor.js"></script>

<script  src="<?php echo J_DIR;?>/plugins.js"></script>

<script  src="<?php echo J_DIR;?>/public.js"></script>
</body>
</html>
