.navbar-nav li{font-size: 16px;}
/*ul重置*/
ul,li{
	list-style: none;
	margin:0;
	padding:0;
}
.kong64{
	height: 64px;
}
.kong75{
	height: 75px;
}
/*当前位置*/
.news{
	margin-bottom: 40px; 
}
.news .location{
	height: 60px;
	line-height: 60px;
}
.news .location p{
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	color: #6f7071;
}
.title{
	margin-bottom: 10px;
}
/*列表部分*/
.news_list{
	margin-top:1.2rem;
}
.news_list>li{
	margin-top: 3.1rem;
}
.news_list .first{
	margin-top: 0;
}
.news_list li h2,.news_list li h3,.news_list li h4,.news_list li p,.news_list li a{
	font-family: '微软雅黑';
	margin:0;
}
.news_list li h2{
	line-height: 2.5rem;
	font-size: 2rem;
	color: #908f8f;
	margin-top:1rem;
}
.news_list li h3{
	line-height: 2.5rem;
	font-size: 1.1rem;
	color: #424141;
}
.news_list li h4{
	margin-top:1rem;
	line-height: 2.9rem;
	font-size: 1.1rem;
	color: #232323;
}
.news_list li p{
	line-height: 1.9rem;
	font-size: 1rem;
	color: #666;
}
.news_list .news li a{
	display: block;
	margin-top:1rem;
	width: 8.1rem;
	height: 2.2rem;
	background-color: #fff;
	color: #666;
	font-size: 1.1rem;
	line-height: 2.3rem;
	text-align: center;
	/*font-family: LEARN MORE;*/
	border:1px solid #959595;
	font-weight: bold;
}
.news_list .news li a:hover{
	text-decoration: none;
}
.news_list .news li .active{
	background-color: #f5de5a;
	color: #fff;
	border:none;
}
.news_list .img_left .img{
	padding-left:0;
}
.news_list .img_right .img,.news_list .img_right .content{
	float: right;
}

@media screen and (min-width:992px) {
	html{
		font-size:12px;
	}
}
@media screen and (min-width:1280px) {
	html{
		font-size:14px;
	}
}
@media screen and (min-width:1600px) {
	html{
		font-size:16px;
	}
}
@media screen and (min-width:1920px) {
	html{
		font-size:18px;
	}
}